header {
    width: 100%;
    height: 15vh;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-size: 2rem;
    font-weight: bold;
    font-family: sans-serif;
}

main {
    display: flex;
    height: 85vh;
}

aside {
    width: 28vw;
    background-color: red;
}

section {
    width: 100%;
    background-color: aqua;
}